*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #24272E;
}

header{
  background: white;
  padding: 20px;


}

header > h1 {
  color: #24272E;
  text-align: center;
  font-family: system-ui, 'Segoe UI';

}

.score-board{
  border: 3px solid white;
  width: 200px;
  margin:20px auto;
  color: white;
  font-size: 36px;
  text-align: center;
  border-radius: 4px;
  padding: 15px 20px;
  font-family: system-ui, 'Segoe UI';
  position: relative;


}

.badge{
  background: rgb(228, 97, 97);
  color: white;
  padding: 2px;
  font-family: system-ui, 'Segoe UI';
  font-size: 10px;

}

#user-label{
  position:absolute;
  top: 30px;
  left: -15px;

}

#computer-label{
  position:absolute;
  top: 30px;
  right: -20px;

}

.result{
  font-size: 40px;
  color:white;


}




.result > p {
  text-align: center;
  font-family:system-ui, 'Segoe UI';
  font-weight: bold;
}

.choices{
  text-align: center;
  margin: 50px;
  
  
}


.choice{
  display: inline-block;
  border: 10px solid white;
  border-radius: 30%;
  padding: 10px;
  margin:0 20px;
  transition: 0.6s;


}

.choice:hover{
  cursor:pointer;
  background: rgb(228, 97, 97);
}

#action-message{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.red-glow{
  border :4px solid #ff0000;
  box-shadow: 0 0 10px #bb6868;

}

.green-glow{
  border :4px solid #68ff6f;
  box-shadow: 0 0 10px #537253;

}
.grey-glow{
  border :4px solid #e0e0e0;
  box-shadow: 0 0 10px #7f807f;

}

#action-messag{
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 0.2px;
}

#action-messag:hover{
  color: rgb(237, 237, 237);
  transition: 0.5s;
  transform: scale(2);

}

